# dependencies
/node_modules

# next.js
/.next/
/out/

# producción
/build

# datos locales (base de datos SQLite con los contactos)
/data/*.db
/data/*.db-journal
/data/*.db-wal
/data/*.db-shm

# misc
.DS_Store
*.pem
npm-debug.log*
*.tsbuildinfo
yarn-debug.log*
yarn-error.log*

# variables de entorno locales
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# tipos generados por next
next-env.d.ts
.vercel
